.button {
    width: 100%;
    height: 32px;
    padding: 5px;
    border-radius:5px;
    border: 1px solid black;
    background-color: transparent;
}
.button:hover, .button:focus {
    background-color: #BF5002;
    color: white;
}
.buttonList_item:not(:first-child) {
    margin-left: 5px;

}