.cart_link {
    color: #000000;
    text-decoration:none;
}

.cart_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.cart_link::before {
    content: " ";
    width: 10px;
    height: 10px;
   background-image: red;

}